<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="_loginUrl" value="https://login.windows.net/"/>
    <add key="_managementUrl" value="https://management.azure.com/"/>
    <add key="_client_id" value="XXXXXXX-XXXX-XXXX-XXXX-XXXXXXX"/>
    <add key="_tenant_id" value="XXXXXXX-XXXX-XXXX-XXXX-XXXXXXX"/>
    <add key="_subscription_id" value="XXXXXXX-XXXX-XXXX-XXXX-XXXXXXX"/>
    <add key="_client_secret" value="XXXXXX"/>
    <add key="_resource_group_name" value=""/>


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>